{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    WoW | Login
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container-fluid" style="background-color: #ff6b33">
        <div class="row">
            <div class="col-12 text-center mt2">
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>
                                    Fazer Login Para Continuar
                        </legend>
                        {{ form|crispy }}
                    </fieldset>
                    <a>
                        <button class="btn ms-2 mt-2" style="background-color: #000000" type="submit" value=""><h5
                                style="color: #fd4200">Fazer Login</h5></button>
                    </a>
                </form>
                <small style="color: black">
                    Não tem uma conta ainda?<a
                       class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="{% url 'carro:criarConta' %}"> Crie aqui!</a>
                </small>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}