<footer style="background-color: orangered" class="mt-5">
    <div class="row">
        <div class="col-md-4 text-center col-sm-12">
            <h2 style="color: black">
                Contato
            </h2>
            <h5 style="color: black">W o W</h5>
            <h5 style="color: black">Rua B - 102</h5>
            <h5 style="color: black">COHAB - Conselheiro MG</h5>
        </div>
        <div class="col-md-4 mt-5 col-sm-12 text-center">
            <h5 style="color: black">Tel: (33)9 99263599</h5>
            <h5 style="color: black">Email: wowconsignada@wow.com.br</h5>
        </div>
        <div class="col-md-4 mt-5 text-center col-sm-12">
            <span class="mdi mdi-instagram"></span>
            <span class="mdi mdi-facebook"></span>
        </div>
    </div>
</footer>